body {
  margin: 0;
  font-family: Arial;
}
a {
  color: #4D87CE;
  font-weight: bold;
  text-decoration: none;
}
p {
  margin: 0 0 1em;
}
hr {
  margin: 2em 0;
}

.ui-jqgrid {font-size:10pt}
.ui-jqgrid tr.jqgrow td {font-size:10pt}


#divHeader {
  clear: both;
  overflow: hidden;
  margin-bottom: 1em;
  border-bottom: 1px solid #ededed;
  padding-bottom: 1em;
}
#leftTitle {
  float: left;
  margin: 10px 3em 0 32px;
}
#headerGroup {
  float: left;
  font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
  text-transform:uppercase;
  text-align: left;
}
#headerH1 {
  font-size:40px;
  font-weight:normal;
  margin: 30px 0 10px;
  padding: 0 10px;
  color: #736451;
}
#headerH2 {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding: 0 10px;
  color: #000000;
}
#logoutLink {
  text-decoration: none;
  font-weight: bold;
  color: #736451;
  float: right;
  margin: 16px auto 0;
  background: #fff;
  box-shadow: 1px 1px 3px #ccc;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
  transition: 250ms all;
}
#logoutLink:hover {
  border-color: #777;
  background: #736451;
  color: #fff;
}
#login_link_to_home {
  text-transform: none;
  font-family: Arial;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0 10px;
}
#main_screen {
  margin: 1em;
}
.div h3 {
	font-family: "Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
	font-size: 24px;
	font-color: #736451;
	text-align: left;
	font-weight: normal;
}
#divInput {
  	padding-left: 100px;
}

.dialog {
   padding-left: 200px;
}

.ui-jqgrid .ui-jqgrid-htable th div {
   height: 43px;
   font-size: 11pt;
}

.usedGroup {
   background:#FF8888
}


#spread-castor {
   background: #FFCCCC;
   border: 1px solid black;
   width: 21em;
   padding-left: 0.5em;
   padding-right: 0.2em;
   padding-bottom: 0.5em;
   margin-left: 0.5em;
}
#spread-castor h2 {
   margin: 0.2em;
   margin-bottom: 0.4em;
   padding: 0em;
   font-size: 1.5em;
   font-weight: bold;
   text-align: center;
}
#spread-castor ul {
   margin-top: 0.2em;
   margin-bottom: 0.5em;
   padding-left: 1.5em;
}
#spread-castor-table td {
   vertical-align: top;
   width: 50%;
}
#spread-castor-email {
   width: 14em;
}
#divError {
  position:absolute;
  top:100px;
  left:100px;
  width:800px;
  height:600px;
  background:#FAA;
  z-index:100;
  display:none;
}
#contentError {
  -moz-user-select: -moz-text;
  -webkit-user-select: text;
  -o-user-select: text;
  user-select: text;
}

#gradeGroupState {
  margin-top:20px;
  margin-bottom:20px;
  width:100%;
  border: 1px solid black;
  padding: 10px 10px 10px 10px;
}