* {
   font-family: Arial;
}

.ui-jqgrid {font-size:1em}
.ui-jqgrid tr.jqgrow td {font-size:1em}

.headerH1 {
	font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
	font-size:40px;
	text-transform:uppercase;
	font-weight:normal;
	margin:0;
	padding:0;
	padding-top:30px;
	color: #736451;
	margin-bottom: 10px;
	text-align: left;
}

.headerH2 {
	font-family: "Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	text-align: left;
	font-weight: normal;
	margin: 0;
	padding: 0;
	color: #000000;
	border-bottom: 1px solid #eeeeee;
}
.div h3 {
	font-family: "Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
	font-size: 24px;
	font-color: #736451;
	text-align: left;
	font-weight: normal;
}
#divInput {
  	padding-left: 100px;
}

.dialog {
   padding-left: 200px;
}
#logoutLink {
   font-family: "Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
   float:right;
   text-decoration: none;
   font-weight: bold;
   font-color: #736451;
}

.ui-jqgrid .ui-jqgrid-htable th div {
   height: 43px;
}

.usedGroup {
   background:#FF8888
}


#spread-castor {
   background: #FFCCCC;
   border: 1px solid black;
   width: 21em;
   padding-left: 0.5em;
   padding-right: 0.2em;
   padding-bottom: 0.5em;
   margin-left: 0.5em;
}
#spread-castor h2 {
   margin: 0.2em;
   margin-bottom: 0.4em;
   padding: 0em;
   font-size: 1.5em;
   font-weight: bold;
   text-align: center;
}
#spread-castor ul {
   margin-top: 0.2em;
   margin-bottom: 0.5em;
   padding-left: 1.5em;
}
#spread-castor-table td {
   vertical-align: top;
   width: 50%;
}
#spread-castor-email {
   width: 14em;
}
#divError {
  position:absolute;
  top:100px;
  left:100px;
  width:800px;
  height:600px;
  background:#FAA;
  z-index:100;
  display:none;
}
#contentError {
  -moz-user-select: -moz-text;
  -webkit-user-select: text;
  -o-user-select: text;
  user-select: text;
}
