* {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  -khtml-user-select: none;
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: arial;
  font-size: 16px;
}

.fullFeedback {
  display: none;
}

.check {
  color: green;
  font-weight:bold;
  margin-left:-1px;
  margin-right:-2px;
}

a {
   color: #4D87CE;
   font-weight: bold;
   text-decoration: none;
}
.clearfix {
  clear: both;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.chrono {
  font-size: 2em;
  background-color: #4D87CE;
  text-align: center;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.rank {
  display:none;
  font-size: 1.2em;
  background-color: #4D87CE;
  text-align: center;
  height: 50px;
  line-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  vertical-align: middle;
  margin-right: 15px;
  margin-bottom: 10px;
  margin-top: -10px;
}

.selectable, input, textarea {
  -moz-user-select: text;
  -webkit-user-select: text;
  -o-user-select: text;
  user-select: text;
  -khtml-user-select: text;
}


/* Contest home */
#divHeader {
  clear: both;
  overflow: hidden;
  margin-bottom: 1em;
  border-bottom: 1px solid #ededed;
  padding-bottom: 1em;
}
#leftTitle {
  float: left;
  margin: 10px 3em 0 32px;
}
#headerGroup {
  font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
  text-transform:uppercase;
  text-align: left;
}
#headerH1 {
  font-size:40px;
  font-weight:normal;
  margin: 30px 0 10px;
  padding: 0 10px;
  color: #736451;
}
#headerH2 {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding: 0 10px;
  color: #000000;
}
#login_link_to_home {
  text-transform: none;
  font-family: Arial;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0 10px;
}

#mainContent {
  margin-left: 20px;
}
#browserAlert {
  color: #8a6d3b;
  width: 500px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #fcf8e3;
  border: 1px solid #faebcc;
  border-radius: 6px;
}
.tabTitle {
  font-size: 2em;
  font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
}
#mainNav {
  float: left;
  margin: 10px 4em 0 0px;
}
#mainNav .i18n {display: none;}
#mainNav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
#mainNav li {
  cursor: pointer;
  margin-bottom: 5px;
  padding: 5px;
  position: relative;
  background: #736451;
  color: #fff;
  line-height: 24px;
  letter-spacing: 0.04em;
}
#mainNav li::after {
  content: " ";
  border: 17px solid #000;
  position: absolute;
  right: -17px;
  border-left-color: #736451;
  border-top-color: transparent;
  top: 0px;
  border-bottom-color: transparent;
  border-right: none;
}
#mainNav li.selected {
  background: #2482bf;
}
#mainNav li.selected::after {
  border-left-color: #2482bf;
}
.tabContent {
  float: left;
  margin-bottom: 40px;
}
.questionListHeader {
   width:195px;
   padding-right: 5px;
}

.questionsTable {
   position: absolute;
   top: 5px;
   left:245px;
}

.questionsTable td {
   position:relative;
   left: -2px;
}

.question {
   display:none;
   width:800px;
   border: solid black 1px;
   padding: 10px;
}

#divClosed {
   display:none;
   position:absolute;
   top:300px;
   left:245px;
   width:800px;
   border: solid black 1px;
   padding: 10px;
   z-index: 100;
   background: white;
}

#divQuestionParams {
   width:770px;
   height: 70px;
   border: solid black 1px;
   padding-left: 5px;
   padding-right: 5px;
}

.questionTitle {
   text-align: center;
   font-size: 2em;
   font-weight: bold;
}

#questionPoints{
   font-size: 0.9em;
}

.question h1 {
   display: none;
}


.questionToUnlock, .questionLink, .questionLinkSelected {
   font-size: 0.9em;
   line-height:180%;
   width: 170px;
   font-weight: bold;
   cursor: pointer;
   padding: 0px;
}

.questionToUnlock {
   color:gray;
}

.questionLink, .questionLinkSelected {
   color: #4D87CE;
}

.questionLink:hover {
   background-color: #E0E0E0;
   color: #2A65AD;
}

.questionBullet {
   width: 14px;
   padding: 0px;
}

.questionScore {
   text-align: right;
   padding: 0px 0px 0px 1px;
}

.questionLinkSelected {
   background-color: #808080;
   color: black;
}

.groupRow:hover {
   background-color: #E0E0E0;
}

.div h3 {
   font-family: "Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
   font-size: 24px;
   /*font-color: #736451; Invalid, use color ? */
   text-align: left;
   font-weight: normal;
}
.divInput {
     padding-left: 100px;
}

.questionScores, .questionScores td {
   border: solid black 1px;
}

.questionScores td {
   padding: 0 5px 0 5px;
   text-align: center;
}

.scoreNothing, .scoreBad, .scoreGood {
   font-size: 1.5em;
   font-weight: bold;
}

.scoreNothing {
   color: black;
}

.scoreBad {
   color: #FF4040;
}

.scoreGood {
   color: #4D87CE;
}

.tabButton {
   width:250px;
   font-size: 16px;
   color:#000;
   text-decoration:none;
   padding:10px;
   border:1px solid #333;
   text-align:center;
   font-weight: normal;
   background-color: #F0E9D8;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   -o-border-radius:5px;
   border-radius:5px;
}

.tabButton.selected {
   background-color: #E2D9C8;
   border:3px solid #333;
   font-weight: bold;
}

#divQuestionsContent {
   display: none;
}

#question-iframe {
   width: 822px;
   overflow: hidden;
   border: 0;
   width: 0;
   height: 0;
}
.oldInterfaceIframeContainer {
   position: absolute;
   left: 248px;
   top: 88px;
   width: 0;
   height: 0;
}

.newInterfaceIframeContainer {
	text-align: center;
}


.hidden {
  display: none;
}

#divError {
  position:absolute;
  top:100px;
  left:100px;
  width:800px;
  height:600px;
  background:#FAA;
  z-index:100;
  display:none;
}

#contentError {
  -moz-user-select: -moz-text;
  -webkit-user-select: text;
  -o-user-select: text;
  user-select: text;
}

.header, .layout_table_wrapper {
  max-width:880px;width:auto !important;width:880px;
  min-width:650px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;        
}
.header_table {
  height: 40px;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}
.header_sep_top, .header_sep_bottom {
  width: 100%;
  border-bottom: 1px solid #B47238; 
}
.header_sep_bottom {
  margin-bottom: 30px;
}
.header_table td { /* border: 1px solid gray; */
  text-align: center;
  font-size: 20px;
  line-height: 115%;
}
.header_logo {
  padding-bottom: 0px;
  width: 60px;
}
.header_logo_img {
  width: 60px;
}
.button_return_list {
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
}
.header_score {
  width: 140px;
  padding-bottom: 10px;
}
.header_time {
  width: 160px;
  padding-bottom: 10px;
}
.header_space {
}
.header_button {
  width: 310px; /**/
  text-align: right;
  padding-bottom: 10px;
}
.icon {
  border: 1px solid #CCCCCC;
  height: 155px;
  width: 200px;
  display: inline-block;
  margin: 7px;
  cursor: pointer;
  vertical-align: top;
}
.icon div {
  text-align: center;
}
.icon_title {
  color: #0000CC;
}
.icon_title a:hover {
  text-decoration: none;
}
.icon_img {
  text-align: center;
}
.icon_img_td {
  height: 90px;
  width: 230px;
  vertical-align: middle; /* not effective */
  text-align: center;
} 
.icon_img img {
  max-height: 80px;height: auto !important;height:80px;
  max-width:150px;width:auto !important;width:150px;
  cursor: pointer;
}
.menu_item {
  color: #0000AA;
  cursor: pointer;
}
.icon_title {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.icon_stars {
  margin: 0.3em;
}

/* Inspired by Bootstrap interface elements */
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.btn-group-vertical>.btn,
.btn-group>.btn {
  position: relative;
  float: left;
}
.btn-group .btn+.btn,
.btn-group .btn+.btn-group,
.btn-group .btn-group+.btn,
.btn-group .btn-group+.btn-group {
  margin-left: -1px;
}
.btn-group>.btn:first-child {
  margin-left: 0;
}
.btn-group>.btn:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group>.btn:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group>.btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.btn-group>.btn.active,
.btn-group>.btn:active,
.btn-group>.btn:focus,
.btn-group>.btn:hover {
  z-index: 2;
}
.btn.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-icon {
  font-family: 'Courier New', Inconsolata, 'Roboto Mono', 'PT Mono', 'Ubuntu', monospace;
}
.btn.selected {
  background-color: #2381bd;
  color: #fff;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}

select {
  padding: 6px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-head {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.panel-body {
  padding: 15px;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}

table {
  border-collapse: collapse;
}
table td p:first-child,
table td ul:first-child{
    margin-top: 0;
}

/* Contest categories */
.colorCategories {
    border: 1px solid #ccc;
    box-shadow: 5px 5px 8px #eee;
    margin: 2em auto;
    width: 100%;
    text-align: left;
}
.colorCategories .colorCategory {
    border-top: 1px solid #333;
}
.colorCategories .colorCategory:first-child {
    border-top: none;
}
.colorCategories .colorCategoryTitle {
    padding: 10px;
    color: #000;
    font-size: 1.2em;
    width: 25%;
    vertical-align: middle;
}
.colorCategory td {
    padding: 10px;
}
.colorCategory.white td {
    background-color: #fff;
}
.colorCategory.white .colorCategoryTitle {
    background-color: #efefef;
}
.colorCategory.yellow td {
    background-color: #ffffab;
}
.colorCategory.yellow .colorCategoryTitle {
    background-color: #ffef00;
}
.colorCategory.orange td {
    background-color: #fdd5a4;
}
.colorCategory.orange .colorCategoryTitle {
    background-color: #ff8c00;
}
.colorCategory.green td {
    background-color: #8ff38f;
}
.colorCategory.green .colorCategoryTitle {
    background-color: #06d606;
}
.colorCategory.blue td {
    background-color: #93beff;
}
.colorCategory.blue .colorCategoryTitle {
    background-color: #0037ff;
    color: #efefef;
}

.categorySelector {
  cursor: pointer;
}
.categorySelector td.selectorCell {
  background-color: transparent;
  width: 60px;
}

/* Arrows */
.selector_arrowForward,
.selector_arrowUp {
  position: relative;
  z-index: 1;
  overflow: hidden;
  line-height: 32px;
  display: none;
}
.selected .selector_arrowForward {
  display: block;
}
.selected .selector_arrowUp {
  display: inline;
}
.selector_arrowForward span {
  display: block;
  border: 0;
  padding-left: 28px;
}
.selector_arrowUp span {
  display: inline-block;
  position: relative;
  border: 0;
  padding-left: 32px;
}
.selector_arrowForward span::before,
.selector_arrowForward span::after,
.selector_arrowUp span::before,
.selector_arrowUp span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
}
.selector_arrowForward span::before {
  left: 16px;
  border-width: 16px 0 16px 16px;
  border-style: solid;
  border-color: transparent #000;
  margin-top: -16px;
  background: transparent;
}
.selector_arrowForward span::after {
  left: 0;
  width: 16px;
  height: 12px;
  top: 10px;
  background: #000;
}
.selector_arrowUp span::before {
  left: 0;
  margin-top: -16px;
  border-width: 0 16px 16px;
  border-color: #000 transparent;
  border-style: solid;
}
.selector_arrowUp span::after {
  left: 10px;
  width: 12px;
  height: 16px;
  margin-top: 0;
  background-color: #000
}

.languageTable {
  border: 1px solid #ccc;
  box-shadow: 5px 5px 8px #eee;
  margin: 2em 0;
}
.languageTable th,
.languageTable td {
  width: 230px;
  border: 1px solid #777;
  padding: 10px;
}
.languageTable td img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.languageSelector.selectorCell {
  line-height: 32px;
  text-align: center;
}
.languageSelector.selected {
  background: #ffffdd;
}
.languageSelector.languageDescription {
  font-size: 12px;
}


/* Login box */
.login_box.panel {
  float: left;
  margin-right: 20px;
  width: 500px;
}
.login_box .panel-head {
  background-color: #EEF;
  text-align: center;
}
.login_box .panel-body {
  min-height: 100px;
}
.yesno {
  padding-left: 10px;
  padding-right: 10px;
}